body, html{
    height: 100%;
    width:100%;
    padding:0;
    margin: 0;
}
body{
    background: url("images/shape1.jpg") center no-repeat;
    background-size: cover;
    height: 100%;
    font-family: 'Bangers';
}
h3{
    text-align: center;
    color: whitesmoke;
    text-shadow: 2px 2px 12px #01084f;
}
#card_overflow{
    height: 80px;
    overflow: auto;
}