body, html{
    height: 100%;
    width:100%;
    padding:0;
    margin: 0;
}
body{
    background: #e9f4f8;
}
h4,h5,li{
    font-family: 'Bangers';
}
hr{
    width: 25%;
    height: 8px;
    background: #00094a;
}
@media (max-width: 900px) {
    .card {
        width: 35rem !important;
    }
}
@media (max-width: 600px) {
    .card{
        width: 25rem !important;
    }
}