{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ post.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{% static 'blog/css/all.css' %}" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'blog/post.css' %}">
</head>
<body>
{% include 'basic/header.html' %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center py-3">
                <div class="card mx-auto" style="width: 45rem;">
                    <img class="card-img-top" src="{{ post.image.url }}" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">{{ post.title }}</h4>
                        <p class="card-text">
                            {{ post.content }}
                        </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Author : {{ post.author|capfirst }}</li>
                        <li class="list-group-item">Country : {{ post.author.country|capfirst }}</li>
                        <li class="list-group-item">LastUpdate: {{ post.updated_at }}</li>
                        <li class="list-group-item">Published : {{ post.published_at }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<main class="container">
    <div class="row">
        <div class="col-12">
            <h4 class="text-center mt-4 mb-1 text-info">Comments</h4>
        </div>
        <hr>
        {% for comment in comments %}
            {% if comment.is_confirmed is True %}
                <div class="col-12 mt-2">
                    <div class="card flex-row">
                        <div class="card-body col-11">
                            <h5 class="card-title">{{ comment.author }}</h5>
                            <p class="card-text">{{ comment.content }}</p>
                            <small>{{ comment.published_at }}</small>
                            {% if comment.situation %}
                                <i class="fas fa-thumbs-up text-success"></i>
                            {% else %}
                                <i class="fas fa-thumbs-down text-danger"></i>
                            {% endif %}
                        </div>
                        <div class="col-1 mt-5 text-center">
                            <a class=""><i class="fas fa-heart text-danger"></i></a>
                            <small>likes: </small><small id="likes">2</small>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        <div class="col-12">
            <form method="POST" action="{% url 'post' post.slug %}">
                {% csrf_token %}
                {% for field in form %}
                    <div class="col-12 text-center" style="padding: 10px">
                        <b>
                            {{ field.label_tag }}
                        </b>
                    </div>
                    <div class="col-12 text-center" style="margin: 5px auto;">
                        {{ field }}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-info px-5 pt-2 mt-2 offset-4 col-4">Submit</button>
            </form>
        </div>
    </div>
</main>
{% include 'basic/footer.html' %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'blog/js/bootstrap.js' %}"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    {#$(document).ready(() => {#}
    {#    $("#like").click(function (comment_id, condition, user_id) {#}
    {#        $.ajax({#}
    {#            type: "post",#}
    {#            url: "{% static '' %}",#}
    {#            data: {{ comment_id, condition, user_id }},#}
    {#            success: function (response) {#}
    {#                console.log(response)#}
    {#            }#}
    {#        });#}
    {#    })#}
</script>
</body>
</html>