<footer class="py-3 py-sm-4" id="end_page">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 px-3">
                <h3 class="py-1">Useful links</h3>
                <a href="posts.html" class="py-1">Posts</a><br>
                <a href="#" class="py-1">All categories</a><br>
                <a href="SignUp.html" class="py-1">Sign Up</a><br>
                <a href="SignIn.html" class="py-1">Sign In</a><br>
            </div>
            <div class="col-md-6 col-sm-12 px-3">
                <h3 class="py-1">Contact Us</h3>
                <address>
                    Isfahan, moshtagh, Zip-Code:1523-5698
                </address>
                <p class="py-1">Phone:+9823566845</p>
            </div>
        </div>
    </div>
</footer>