{% load static %}
<header>
    <nav class="navbar navbar-light p-0 m-0">
        <div class="container-fluid justify-content-center">
            <a class="navbar-brand px-md-3 px-sm-0" href="blog.html">Home</a>
            <a class="navbar-brand px-md-3 px-sm-0" href="SignUp.html">Sign Up</a>
            <a class="navbar-brand py-0 pl-md-3 pl-sm-0" href="#">
                <img src="{% static 'blog/images/navbarmani.png' %}" height="100" width="100"/>
            </a>
            <a class="navbar-brand px-md-3 px-sm-0" href="SignIn.css">Sign In</a>
            <a class="navbar-brand px-md-3 px-sm-0 mr-sm-0" href="#">Contact Us</a>
        </div>
    </nav>
</header>