{% load static %}
<header>
    <nav class="navbar navbar-light p-0 m-0">
        <div class="container-fluid justify-content-center">
            <a class="navbar-brand px-md-3 px-sm-0" href="#">Home</a>
            <a class="navbar-brand px-md-3 px-sm-0" href="SignUp.html">Sign Up</a>
            <a class="navbar-brand py-0 pl-md-3 pl-sm-0" href="#">
                <img src="{% static 'blog/images/navbarmani.png' %}" height="100" width="100"/>
            </a>
            <a class="navbar-brand px-md-3 px-sm-0" href="SignIn.html">Sign In</a>
            <a class="navbar-brand px-md-3 px-sm-0 mr-sm-0" href="#">Contact Us</a>
        </div>
    </nav>
    <div class="container-fluid text-center pt-sm-2 pt-lg-5" id="information_header">
        <p data-aos="fade-left" data-aos-duration="3000">
            <strong>Welcome to TecnoWolf (TecnoKna)</strong>. <br>This webpage is about introduction and all of the new
            surveys and news in the
            world.<br> This webpage is created for free for all of the people in the world specially for the people
            who<br> have
            passion to learn about new invention and new tecnology in the world ...<br>
            See this page to get info about our webpage<br>
        </p>
        <a href="#" data-aos="zoom-in" data-aos-duration="3000">
            <button type="button" class="btn btn-dark btn-lg px-5 mt-md-5 mt-sm-2">Sign Up</button>
        </a>
    </div>
</header>

